<h1>About</h1>
<p>This is a Node/Express app for FreeCodeCamp "Voting app" project </p>
<p>https://github.com/book3/Build-a-Voting-App-FreeCodeCamp.git  Git repository</p>
<p>https://calm-fjord-71334.herokuapp.com  heroku</p>
<p>Author: Yntymak Karagulov (KYRGYZSTAN)</p>
<p>Vertion:1.0.0</p>
